name: Publish
permissions:
  contents: write
  pull-requests: write
on:
  release:
    types: [published]
jobs:
  publish:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: "gradle"
          cache-dependency-path: |
            lib/**/*.gradle*
            lib/**/gradle-wrapper.properties
            lib/gradle/*.versions.toml
      - name: Cache konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('lib/**/*.gradle*', 'lib/gradle/*.versions.toml') }}
          restore-keys: ${{ runner.os }}-konan
      - name: Strip leading v from VERSION
        run: echo "VERSION=${VERSION#v}" >> $GITHUB_ENV
        env:
          VERSION: ${{ github.event.release.tag_name }}
      - name: Publish release
        run: ./gradlew publishToMavenCentral -PVERSION_NAME="$VERSION"
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.GPG_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
        working-directory: ./lib

  documentation:
    needs: publish
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Strip leading v from VERSION
        run: echo "VERSION=${VERSION#v}" >> $GITHUB_ENV
        env:
          VERSION: ${{ github.event.release.tag_name }}
      - name: Update documentation
        run: |
          yq -i ".extra.lokksmith_version = \"$VERSION\"" ./site/mkdocs.yml
          yq -i ".extra.lokksmith_version_date = \"$(date -u "+%b %d, %Y")\"" ./site/mkdocs.yml
      - name: Create PR for documentation
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "docs: update site documentation (${{ github.event.release.tag_name }})"
          title: "docs: update site documentation (${{ github.event.release.tag_name }})"
          body: Update `extra.lokksmith_version` and `extra.lokksmith_version_date` in `site/mkdocs.yml` to reflect the new release.
          branch: chore/update-documentation
          base: main
          labels: documentation
