name: Check Pull Request (Site)
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'site/**'
  workflow_dispatch:
jobs:
  check:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: './site/requirements.txt'
      - run: pip install -r ./site/requirements.txt
      - run: zensical build --clean
        working-directory: ./site
