name: Check Pull Request (Library)
permissions:
  contents: read
on:
  pull_request:
    paths:
      - 'lib/**'
  workflow_dispatch:
jobs:
  check:
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'
          cache-dependency-path: |
            lib/**/*.gradle*
            lib/**/gradle-wrapper.properties
            lib/gradle/*.versions.toml
      - name: Cache konan
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('lib/**/*.gradle*', 'lib/gradle/*.versions.toml') }}
          restore-keys: ${{ runner.os }}-konan
      - run: ./gradlew check checkLegacyAbi
        working-directory: ./lib
      - name: Store reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
